.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ajusta la altura según sea necesario */
  }
  
  .main-content {
    flex: 1; /* Ocupa el espacio disponible restante */
    padding: 16px;
    display: flex;
    flex-direction: column;
  }
  
  app-section-one {
    margin-bottom: 16px;
  }
  
  app-categories {
    margin-top: 16px;
  }
  
  app-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
 